.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
.vscode/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
.idea/
*.iml
*.log
.env
.claude/
terraform*/
.coverage
