# 1. Create delta share infrastructure in this toolincluding recipient, shares and catalogs with default system generated names.
# 2. Enable backup with default system generated backup catalog and share names.
# 3. Enable replication with default system generated shared catalog
# 4. Enable reconciliation with default system generated shared catalog

version: "1.0"

replication_group: "streaming_tables_defaults"

execute_at: "target"

source_databricks_connect_config:
  name: "azure"
  sharing_identifier: "azure:eastus2:b86c6879-8c55-4e70-a585-18d16a4fa6e9"
  host: "https://adb-984752964297111.11.azuredatabricks.net"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_source"

target_databricks_connect_config:
  name: "aws"
  sharing_identifier: "aws:us-west-2:b169b504-4c54-49f2-bc3a-adf4b128f36d"
  host: "https://e2-demo-field-eng.cloud.databricks.com"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_target"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

table_types: ["streaming_table"]
target_schemas:
  - schema_name: "bronze_1"
backup_config:
  enabled: true
  create_backup_catalog: true
  create_recipient: true
  create_share: true
replication_config:
  enabled: true
  create_shared_catalog: true
reconciliation_config:
  enabled: true
  create_shared_catalog: true

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
