# 1. Delta share infra not disabled
# 2. Enable replication with explicit source catalog name.
# 3. Enable reconciliation with explicit source catalog name.

version: "1.0"

replication_group: "single_metastore_delta_tables_defaults"

source_databricks_connect_config:
  name: "azure"
  host: "https://adb-984752964297111.11.azuredatabricks.net"

target_databricks_connect_config:
  name: "azure"
  host: "https://adb-984752964297111.11.azuredatabricks.net"

external_location_mapping:
  "abfss://aaboode@oneenvadls.dfs.core.windows.net/": "abfss://deltalake@oneenvadls.dfs.core.windows.net/adnan"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

table_types: ["external", "managed"]
replication_config:
  enabled: true
reconciliation_config:
  enabled: true

target_catalogs:
  - catalog_name: "aaron_replication_single_metastore"
    replication_config:
      source_catalog: "aaron_replication"
    reconciliation_config:
      source_catalog: "aaron_replication"

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
