# 1. Recon all table types
# 2. Create shared catalog with default system generated name from default system generated shared name

version: "1.0"

replication_group: "recon_all_tables_custom"

execute_at: "target"

source_databricks_connect_config:
  name: "azure"
  host: "https://adb-984752964297111.11.azuredatabricks.net"
  sharing_identifier: "azure:eastus2:b86c6879-8c55-4e70-a585-18d16a4fa6e9"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_source"

target_databricks_connect_config:
  name: "azure"
  host: "https://adb-984752964297111.11.azuredatabricks.net"
  sharing_identifier: "azure:eastus2:b86c6879-8c55-4e70-a585-18d16a4fa6e9"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_source"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

table_types: ["streaming_table", "managed", "external"]

reconciliation_config:
  enabled: true
  source_catalog: {target_catalogs.catalog_name}
  schema_check: true
  row_count_check: true
  missing_data_check: true

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
