# 1. Create delta share infrastructure in this tool including recipient, shares and shared catalogs with default system generated names.
# 2. Enable backup with default system generated backup catalog and share names.
# 3. Enable replication with default system generated shared catalog
# 4. Enable reconciliation with default system generated shared catalog

version: "1.0"

replication_group: "single_metastore_streaming_tables_defaults"

execute_at: "target"

source_databricks_connect_config:
  name: "azure"
  sharing_identifier: "azure:eastus2:b86c6879-8c55-4e70-a585-18d16a4fa6e9"
  host: "https://adb-984752964297111.11.azuredatabricks.net"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_source"

target_databricks_connect_config:
  name: "azure"
  sharing_identifier: "azure:eastus2:b86c6879-8c55-4e70-a585-18d16a4fa6e9"
  host: "https://adb-984752964297111.11.azuredatabricks.net"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_source"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

table_types: ["streaming_table"]
backup_config:
  enabled: true
replication_config:
  enabled: true
reconciliation_config:
  enabled: true

target_catalogs:
  - catalog_name: "aaron_replication_single_metastore"
    backup_config:
      create_backup_catalog: true
      source_catalog: "aaron_replication"
      backup_catalog: "aaron_replication_backup_2"
      add_to_share: false
    replication_config:
      source_catalog: "aaron_replication_backup_2"
    reconciliation_config:
      source_catalog: "aaron_replication"

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
