# cli: data-replicator configs/cross_metastore/all_tables_defaults.yaml --target-catalogs [catalog_name] --target-schemas [schema1,schema2]
# Steps:
# 1. Create delta share infrastructure in this tool including backup catalog, recipient, shares and shared catalogs with default system generated names.
# 2.1 Deep clone source Streaming table backing table as delta table into backup catalog and add backup schema to share at source
# 2.2 Add source schema to share at source
# 3.1 Deep clone backup delta table into target Streaming table backing table at target. Note: For Streaming Table replication, tables need to already exist in target before Deep Clone
# 3.2 Deep clone source delta table into target delta table backing table at target.
# 4. Reconciliate tables between source and target.

version: "1.0"

replication_group: "all_tables_defaults"

cloud_url_mapping:
  "abfss://aaboode@oneenvadls.dfs.core.windows.net/": "s3://one-env-uc-external-location/aaron2"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

table_types: ["all"]
backup_config:
  enabled: true
  create_backup_catalog: true
  create_recipient: true
  create_share: true
  add_to_share: true
replication_config:
  enabled: true
  create_shared_catalog: true
reconciliation_config:
  enabled: true
  create_shared_catalog: true
  missing_data_check: false

concurrency:
  process_schemas_in_serial: false
  max_workers: 5
  parallel_table_filter: 8
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
