# cli: data-replicator configs/cross_metastore/delta_tables_custom.yaml --target-catalogs [catalog_name]
# Steps:
# 1. BYO delta share infrastructure. recipient, shares and catalogs are created outside of this tool.
# 2. Backup with existing backup catalog and share names.
# 3. Replication from existing shared catalog.
# 4. Reconciliation from existing shared catalog
# 5. use {target_catalogs.catalog_name} substitution to reference target catalog name

version: "1.0"

replication_group: "delta_tables_custom"

cloud_url_mapping:
  "abfss://aaboode@oneenvadls.dfs.core.windows.net/": "s3://one-env-uc-external-location/aaboode/"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

table_types: ["external", "managed"]
backup_config:
  enabled: true
  share_name: "{{catalog_name}}_share"
replication_config:
  enabled: true
  source_catalog: "{{catalog_name}}_share_{{source_name}}"
reconciliation_config:
  enabled: true
  source_catalog: "{{catalog_name}}_share_{{source_name}}"

target_catalogs:
  - catalog_name: "aaron_replication"
    target_schemas:
      - schema_name: "bronze_1"
        tables:
          - table_name: "{{schema_name}}_managed_table_1"
          - table_name: "{{schema_name}}_managed_table_2"
          - table_name: "external_table_1"
            replication_config:
          - table_name: "file_6"
      - schema_name: "{{catalog_name}}_silver_1"

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
