# cli: data-replicator configs/cross_metastore/delta_tables_custom.yaml --target-catalogs [catalog_name]
# Steps:
# 1. BYO delta share infrastructure. recipient, shares and catalogs are created outside of this tool.
# 2. Backup with existing backup catalog and share names.
# 3. Replication from existing shared catalog.
# 4. Reconciliation from existing shared catalog
# 5. use {target_catalogs.catalog_name} substitution to reference target catalog name

version: "1.0"

replication_group: "delta_tables_custom"

source_databricks_connect_config:
  name: "azure"
  host: "https://adb-984752964297111.11.azuredatabricks.net"
  token:
    secret_scope: "test_kr"
    secret_pat: "pat_source"

target_databricks_connect_config:
  name: "aws"
  host: "https://e2-demo-field-eng.cloud.databricks.com"
  token:
    secret_scope: "test_kr"
    secret_pat: "pat_target"

external_location_mapping:
  "abfss://aaboode@oneenvadls.dfs.core.windows.net/": "s3://one-env-uc-external-location/aaboode/"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

table_types: ["external", "managed"]
backup_config:
  enabled: true
  share_name: "{target_catalogs.catalog_name}_share"
replication_config:
  enabled: true
  source_catalog: "{target_catalogs.catalog_name}_share_{source_databricks_connect_config.name}"
reconciliation_config:
  enabled: true
  source_catalog: "{target_catalogs.catalog_name}_share_{source_databricks_connect_config.name}"

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
