# 1. BYO delta share infrastructure. recipient, shares and catalogs are created outside of this tool.
# 2. Backup with existing backup catalog and share names.
# 3. Replication from existing shared catalog.
# 4. Reconciliation from existing shared catalog
# 5. use {target_catalogs.catalog_name} to reference target catalog name

version: "1.0"

replication_group: "streaming_tables_custom"

execute_at: "target"

source_databricks_connect_config:
  name: "azure"
  sharing_identifier: "azure:eastus2:b86c6879-8c55-4e70-a585-18d16a4fa6e9"
  host: "https://adb-984752964297111.11.azuredatabricks.net"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_source"

target_databricks_connect_config:
  name: "aws"
  sharing_identifier: "aws:us-west-2:b169b504-4c54-49f2-bc3a-adf4b128f36d"
  host: "https://e2-demo-field-eng.cloud.databricks.com"
  token:
    secret_scope: "test_kr"
    secret_key: "pat_target"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

target_catalogs:
  - catalog_name: "aaron"
    table_types: ["streaming_table"]
    target_schemas:
      - schema_name: "bronze_1"
    backup_config:
      enabled: true
      share_name: "aaron"
      backup_catalog: "aaron_dr"
      backup_share_name: "aaron_dr_azure"
    replication_config:
      enabled: true
      source_catalog: "aaron_dr_azure_shared"
    reconciliation_config:
      enabled: true
      source_catalog: aaron_azure_shared
      recon_outputs_catalog: aaron_azure_shared_recon_results
      recon_outputs_schema: recon_outputs

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
