# cli: data-replicator configs/cross_metastore/uc_metadata_defaults.yaml --target-catalogs [catalog_name] --target-schemas [schema1,schema2] --uc-object-types [table_tag,column_tag]
# 1. Delta share is not required for uc replication. Both source and target UC should be accessible via Databricks Connect.
# 2. Replicate source UC metadata objects to target UC.
# 3. For external tables, use external location mapping specified below
# 4. No replication_wait_secs is needed as both source and target are UC.

version: "1.0"

replication_group: "uc_metadata"

source_databricks_connect_config:
  name: "azure"
  host: "https://adb-984752964297111.11.azuredatabricks.net"  
  token:
    secret_scope: "test_kr"
    secret_pat: "pat_source"

target_databricks_connect_config:
  name: "aws"
  host: "https://e2-demo-field-eng.cloud.databricks.com"  
  token:
    secret_scope: "test_kr"
    secret_pat: "pat_target"

external_location_mapping:
  "abfss://aaboode@oneenvadls.dfs.core.windows.net/": "s3://one-env-uc-external-location/aaron2"

audit_config:
  audit_table: "data_replication.audit.audit_logging"

replication_config:
  enabled: true
  overwrite_comments: false

concurrency:
  max_workers: 5
  timeout_seconds: 1800

retry:
  max_attempts: 2
  retry_delay_seconds: 3
